html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    height: 100%;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

a {
    color: #333;
}

a, a:hover {
    text-decoration: none;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.padding-side-50 {
    padding: 0 50px;
}

.col-md-3,
.col-md-9 {
    padding-right: 0;
    padding-left: 0;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
    padding: 0;
}

#left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
    background-color: #333;
    text-align: center;
    width: 300px;
}

#left button {
    cursor: pointer;
    background-color: white;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 80%;
    border: 0px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    padding: 0 37px;
    transition: all 0.2s ease;
}

#left button:hover {
    background-color: #c5c5c5;
}

#left button:focus,
.new-folder:focus,
.upload-file:focus {
    box-shadow: 0 0 0 transparent;
}

.dropdown-menu.show {
    box-shadow: 0px 5px 20px #333;
    width: 80%;
    transform: translate3d(30px, 37px, 0px) !important;
    padding: 0;
}

button.dropdown-item {
    margin: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 50px !important;
    border-radius: 0 !important;
}

button.default-theme.dropdown-item {
    border-radius: 4px 4px 0 0 !important;
}

button.last-theme.dropdown-item {
    border-radius: 0 0 4px 4px !important;

}

button.dropdown-item:hover {
    background-color: #eaeaea !important;
}

button.dropdown-item:active {
    /* background-color: #333 !important; */
}

.uploadMultipleContainer {
    height: calc(100vh - 335px);
}

.uploadMultiple {
    margin: 0 30px;
    height: 100%;
    border-radius: 10px;
    border: 3px dashed rgba(255, 255, 255, 0.25);
}

.top-left,
.top-right {
    height: 75px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.top-left {
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

i.fas {
    color: #333;
    font-size: 20px;
    margin-right: 10px;
}

.top-left h1 {
    font-size: 30px;
    font-weight: 100;
}

.top-right {
    border-bottom: 1px solid #333;
}

.top-left a,
.top-left a:hover {
    color: white;
    cursor: pointer;
    font-size: 30px;
}

#right {
    width: 100%;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
}

.breadcrumb-item.active {
    color: #333;
    font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
    font-weight: normal;
}

#right .bottom {
    padding: 40px 50px 0 50px;
}

.form-inline .form-control {
    height: 30px;
    border-color: #333;
    width: 250px;
}

.form-inline .form-control::placeholder {
    color: #333;
    opacity: 1; /* Firefox */
}

.form-inline .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

.form-inline .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}

.navbar {
    padding: 0;
}

.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

table {
	width: 100%;
}

thead {
    border-bottom: 0px;
}

.top-action {
    font-weight: bolder;
    letter-spacing: 3px;
}

th {
    border-left: 1px solid rgba(51, 51, 51, 0.5);
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    padding: 10px 20px;
    font-weight: initial;
    width: 100%
}

td {
    width: 100%;
}

tr {
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
}

tbody tr:hover {
    background-color: #f9f9f9;
}

td {
    padding: 20px;
}

img{
    width: 25px;
    margin-right: 20px;
}

.file-action {
    display: inline-block;
    background-color: #333;
    border-radius: 3px;
    border: 0;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.file-action:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.file-action a {
    color: white;
    font-size: 2em;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
