html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    height: 100%;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

a {
    color: #333;
}

a, a:hover {
    text-decoration: none;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.padding-side-50 {
    padding: 0 50px;
}

.col-md-3,
.col-md-9 {
    padding-right: 0;
    padding-left: 0;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
    padding: 0;
}

#left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
    background-color: #333;
    text-align: center;
    width: 300px;
}

#left button {
    cursor: pointer;
    background-color: white;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 80%;
    border: 0px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    padding: 0 35px;
    transition: all 0.2s ease;
}

#left button:hover {
    background-color: #c5c5c5;
}

#left button:focus,
.new-folder:focus,
.upload-file:focus {
    box-shadow: 0 0 0 transparent;
}

.dropdown-menu.show {
    box-shadow: 0px 5px 20px #333;
    width: 80%;
    transform: translate3d(30px, 37px, 0px) !important;
    padding: 0;
}

button.dropdown-item {
    margin: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 50px !important;
    border-radius: 0 !important;
}

button.default-theme.dropdown-item {
    border-radius: 4px 4px 0 0 !important;
}

button.last-theme.dropdown-item {
    border-radius: 0 0 4px 4px !important;

}

button.dropdown-item:hover {
    background-color: #eaeaea !important;
}

button.dropdown-item:active {
    /* background-color: #333 !important; */
}

.dropdown > button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db3286+0,53dbd2+100 */
    background: #db3286; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #db3286 0%, #53dbd2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #db3286 0%,#53dbd2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #db3286 0%,#53dbd2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3286', endColorstr='#53dbd2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white !important;
}

/* .dropdown > button:hover {
    box-shadow: 0 10px 20px black;
} */

.dropdown > button i {
    color: white;
}

.uploadMultipleContainer {
    height: calc(100vh - 335px);
}

.uploadMultiple {
    margin: 0 30px;
    height: 100%;
    border-radius: 10px;
    border: 3px dashed rgba(255, 255, 255, 0.25);
    padding: calc((100vh - 335px)/2.75) 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.uploadMultiple:hover {
    background-color: #252525;
}

.uploadMultiple i {
    color: rgba(255, 255, 255, 0.25) !important;
    font-size: 40px !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
}

.uploadMultiple p {
    color: rgba(255, 255, 255, 0.25);
    font-size: 25px;
    font-weight: 400;
}

.top-left,
.top-right {
    height: 90px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.top-left {
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

.logo img {
    width: 80%;
}

i.fas {
    color: #333;
    font-size: 20px;
    margin-right: 15px;
}

.dropdown-toggle::after {
    margin-left: 10px;
    vertical-align: 2px;
}

/* .top-left h1 {
    font-size: 30px;
    font-weight: 100;
} */

.top-right {
    border-bottom: 1px solid #333;
}

.top-left a,
.top-left a:hover {
    color: white;
    cursor: pointer;
    font-size: 30px;
}

#right {
    /* width: 100%; */
    width: calc(100vw - 300px);
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
}

.breadcrumb-item.active {
    color: #333;
    font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
    font-weight: normal;
}

#right .bottom {
    padding: 40px 50px 0 50px;
}

.form-inline .form-control {
    height: 30px;
    border-color: #333;
    width: 250px;
}

.form-inline .form-control::placeholder {
    color: #333;
    opacity: 1; /* Firefox */
}

.form-inline .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

.form-inline .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}

.navbar {
    padding: 0;
}

.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

table {
	width: 100%;
}

thead {
    border-bottom: 0px;
}

.top-action {
    font-weight: bolder;
    letter-spacing: 3px;
}

.top-action i {
    font-size: 25px;
}

th {
    border-left: 1px solid rgba(51, 51, 51, 0.5);
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    padding: 10px 20px;
    font-weight: initial;
    width: 100%
}

td {
    width: 100%;
}

tr {
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.fileName {
    color: #333;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.fileName:hover,
.fileName:active {
    color: #0056b3 !important;
    background-color: transparent !important;
    border: 0;
    padding: 0;
}

td {
    padding: 20px;
}

td:first-of-type img {
    width: 25px;
    margin-right: 20px;
}

thead tr th:nth-child(2) {
    padding: 10px 100px 10px 20px;
}

thead tr th:nth-child(4) {
    padding: 10px 80px 10px 20px;
}

.file-actions li {
    cursor: pointer;
    margin-right: 10px;
}

.file-actions li:hover {
    opacity: 0.75;
}

.file-actions li:active {
    opacity: 0.5;
}

.file-actions input {
    border: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
}

.file-actions input:hover {
    opacity: 0.75;
}

.file-actions input:active {
    opacity: 0.5;
}

.file-actions input:focus {
    outline: 0;
}

.deleteFile {
    background-image: url(/img/DeleteFile.svg);
}

.getLink {
    background-image: url(/img/GetLink.svg);
}

.downloadFile {
    background-image: url(/img/DownloadFile.svg);
}

.renameFile {
    background-image: url(/img/RenameFile.svg);
    margin-right: 0 !important;
}

.deleteDirectory {
    background-image: url(/img/DeleteFile.svg);
}

.getDirectoryLink {
    background-image: url(/img/GetLink.svg);
}

.downloadDirectory {
    background-image: url(/img/DownloadFile.svg);
}

.renameDirectory {
    background-image: url(/img/RenameFile.svg);
    margin-right: 0 !important;
}
